[Desktop Entry]
Name=Blender 2.71
GenericName=3D modeller
Comment=3D modeling, animation, rendering and post-production
Exec=sh -c "${GRIDBOTS}/gridbots/runners/run_blender.sh"
Icon=python3
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
Name[en_US]=Blender
